{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class=" card-deck">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-dark">How to Update the Posts?</div>
  <div class="card-body">
    <p class=" text-white">Click on the Author or Title of the Post that you want to Update.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header  bg-dark">How to Delete the Posts?</div>
  <div class="card-body">
    <p class=" text-white">Click on the Author or Title of the Post that you want to Delete.</p>
  </div>
</div>
</div>
{% endblock content %}
